.weathermain {
  /* list-style-type: none; */
  /* background-color: blue; */
  display: flex;
  position: absolute;
  bottom: 0px;
  right: 0px;
  /* justify-content: center; */
  /* align-items: center; */
}

.weatherlistmain {
  list-style-type: none;
  background-color: white;
  width: 4vw;
  font-size: 9px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
