.headermain {
  position: relative;
  height: 30vh;
  width: auto;
  background-image: url("https://si.wsj.net/public/resources/images/BN-TM561_spacel_IM_20170517172654.jpg");
  background-size: cover;
}
