.mainlaunch {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.launchcard {
  border: 0.5px solid #a6a6a6;
  box-shadow: 5px 10px #a6a6a6;
  margin: 10px;
  height: 23vh;
  width: 23vw;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* display: relative; */
}

.addbutton {
  cursor: pointer;
}

a {
  color: black;
}
